<div class="home_container">
  <app-card
    gameCover="assets/the_last.webp"
    gameLabel="EXCLUSIVO"
    gameType="DELUXE | PS5"
    gamePrice="R$ 349,90"
  >
  </app-card>
  <app-card
    gameCover="assets/horizon.webp"
    gameLabel="EXCLUSIVO"
    gameType="DIGITAL | PS5 PS4"
    gamePrice="R$ 299,99"
  >
  </app-card>
  <app-card
    gameCover="assets/hogwarts.webp"
    gameLabel="DIGITAL"
    gameType="DELUXE | PS5 PS4"
    gamePrice="R$ 249,90"
  >
  </app-card>
  <app-card
    gameCover="assets/left_behind.webp"
    gameLabel="EXCLUSIVO"
    gameType="DLC | PS5 PS4"
    gamePrice="R$ 49,90"
  >
  </app-card>
  <app-card
    gameCover="assets/playstation-plus.jpg"
    gameLabel="ASSINATURA"
    gameType="MENSAL"
    gamePrice="R$ 79,90"
  >
  </app-card>
</div>
