<div class="menu-bar_container">
    <div class="menu-bar_logo">
        <img 
        src="assets/ps-logo.png" 
        alt="playtation logo"
        width="140"
        height="32"
        >

    </div>
    <div class="menu-bar_item">
        <ul>
            <li><a href="#">Novidades</a></li>
            <li><a href="#">Coleção</a></li>
            <li><a href="#">Ofertas</a></li>
            <li><a href="#">PS5</a></li>
            <li><a href="#">Assinaruta</a></li>
            <li><a href="#">Navegar</a></li>
        </ul>
    </div>
</div>
